<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsxhD_TEE4X0lzOY7OfRIgloUM0RfsGN4</string>
	<key>GCM_SENDER_ID</key>
	<string>421364930107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gameInventory</string>
	<key>PROJECT_ID</key>
	<string>gameinventory-47617</string>
	<key>STORAGE_BUCKET</key>
	<string>gameinventory-47617.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421364930107:ios:1b086385cd75601521ae1e</string>
</dict>
</plist>